<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/c8d1f143-f77b-45ee-a442-1ac8198c0394/resourcegroups/ImageCompress/providers/Microsoft.Web/sites/ImageCompress20190625111127</ResourceId>
    <ResourceGroup>ImageCompress</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://imagecompress20190625111127.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/c8d1f143-f77b-45ee-a442-1ac8198c0394/resourceGroups/PDFGenerator/providers/Microsoft.ContainerRegistry/registries/PDFContainerReg</ContainerResourceId>
    <ContainerResourceName>PDFContainerReg</ContainerResourceName>
    <Subscription>Free Trial</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://pdfcontainerreg.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>65130fda-4e54-4db5-b145-23ab1ba1c510</ProjectGuid>
  </PropertyGroup>
</Project>